# General
.DS_Store
*.log
*.swp
*~

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/coverage/
/frontend/.cache/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Backend
/backend/bin/
/backend/tmp/
/backend/uploads/
/backend/vendor/
/backend/controllers/uploads/
/backend/SkillSwap
