# General
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.swp
*~

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/coverage/
/frontend/.cache/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Backend
/backend/bin/
/backend/tmp/
/backend/uploads/
/backend/vendor/
